@font-face {
  font-family: 'Poke';
  src: url('/fonts/PocketMonk-15ze.ttf');
}@font-face {
  font-family: 'Poke-body';
  src: url('/fonts/Pokemon-GB.ttf');
}
:root{
  --black: #000;
  --blue-100: rgb(251,252,255);
  --blue-200: rgb(203,223,255);
  --blue-300: rgb(149,194,255);
  --blue-400: rgb(71,167,255);
  --blue-500: rgb(0,139,224);
  --blue-600: rgb(0,117,190);
  --blue-default: rgb(0,117,190);
  --blue-700: rgb(0,84,138);
  --blue-800: rgb(0,58,99);
  --blue-900: rgb(0,35,62);
  --yellow-100: rgb(255,252,247);
  --yellow-200: hsl(55,90%,80%);
  --yellow-300: hsl(55,90%,65%);
  --yellow-400: hsl(55,90%,50%);
  --yellow-500: rgb(255,204,0);
  --yellow-default: rgb(255,204,0);
  --yellow-600: rgb(233,186,0);
  --yellow-700: rgb(198,157,0);
  --yellow-800: rgb(131,103,0);
  --yellow-900: rgb(70,54,0);
  --red-100: rgb(255,251,251);
  --red-200: rgb(252,212,212);
  --red-300: rgb(249,171,170);
  --red-400: rgb(247,126,124);
  --red-500: rgb(246,66,59);
  --red-600: rgb(212,42,34);
  --red-default: rgb(209, 74, 69);
  --red-700: rgb(158,29,22);
  --red-800: rgb(113,17,13);
  --red-900: rgb(71,7,5);
  --green-100: #D9F5DA;
  --green-200: #9EE5A1;
  --green-300: #5DD462;
  --green-400: #4CBA51;
  --green-500: #409D44;
  --green-600: #358138;
  --green-700: #2C6C2F;
  --green-800: #235525;
  --green-900: #1C431D;
  --color-success: var(--green-400);
  --color-warning: var(--yellow-400);
  --color-danger: var(--red-500);
  --color-info: var(--blue-500);
  --color-highlight: var(--yellow-500);
  --color-secondary: var(--blue-500);
}
html,
body,
#app {
  height: 100%;
  font-size: 1.2rem;
  font-family: "VT323";
  /* font-family: "Poke-body"; */
}
a {
  color: var(--color-highlight);
}
button {
  border-radius: .25rem;
  color: var(--black);
  background: var(--color-highlight);
}
.grid {
  display: grid;
}
.place-center {
  place-content: center;
}
.justify-items-center {
  justify-items: center;
}
.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}
.flex {
  display: flex;
}
.gap-8 {
  gap: .5rem;
}
.align-center {
  align-items: center;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.overflow-hidden {
  overflow: hidden;
}
.w-full {
  width: 100%;
}
.w-1\/4 {
  width: 25%;
}
.w-1\/2 {
  width: 50%;
}
.w-3\/4 {
  width: 75%;
}
.h-full {
  height: 100%;
}
.mbe-16 {
  margin-block-end: 1rem;
}
.radius-full {
  border-radius: 1e9px;
}
.radius-4 {
  border-radius: .25rem;
}
.radius-16 {
  border-radius: 1rem;
}
.p-8 {
  padding: .5rem;
}
.p-12 {
  padding: .75rem;
}
.p-16 {
  padding: 1rem;
}
.color-black {
  color: #000;
}
.color-yellow {
  color: var(--yellow-default);
}
.bg-white {
  background-color: #fff;
}
.bg-black {
  background-color: #000;
}
.bg-red {
  background-color: var(--red-default);
}